@charset "UTF-8";

body{
    background-color: rgb(248, 6, 6);
} 

h1{
    background-color: aliceblue;
    color: rgb(255, 0, 0);
    font-size: 45px;
}

h2{
    background-color: aliceblue;
    color: rgb(255, 0, 0);
}
p{
    color: rgb(249, 249, 249);
    text-align: justify;
}

a{
    color: rgb(255, 255, 255);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}